
@media (max-width: 960px) {

	.container{
		width: 700px;}
}
@media (max-width: 720px) {


	.container{
		width: 500px;}

}

@media (max-width: 540px) {
	.container{
		width: 300px;}
}

body{
	font-family: Helvetica;
	background-color: rgba(128, 128, 128, 0.57);
}
 
 h1,h2{
 	font-family:Courier;
 	border-radius:4px;
 	border-top: 1px rgba(230, 230, 230, 0.7) solid;
    border-bottom: 1px rgba(230, 230, 230, 0.7) solid;
}
h1{
	background-color: rgb(192, 191, 189);                       
	box-shadow: 0 10px 30px rgba(0,0,0,.1);

}
h2
	{font-weight: 100;
	background-color:rgba(139,76,57,0.5);
	color:White;
	font-size: 25px;

	}

a{	text-decoration: none;
	font-size:20px;
	color: rgba(50,0,0,0.5);
	font-weight: bold;
	transition: all .2s ease;}
	
a:hover{
	color:rgb(52, 51, 50);
}

	


#Profile{
	width: 300px;
	margin:0px auto;
	border-radius: 25%;
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
	border: 2px solid #272727eb;
	}

.img-center{
	width: 250px;
	height: 250px;	
	border: 2px solid #272727eb;
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
}
.Bottom-Click{
	padding: 15px 20px;
	border-radius: 5px;
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
	background-color: rgb(172, 134, 117);
	text-decoration: none;
	font-size:20px;
	color: white;
	font-weight: bold;
}

.text-center{
	text-align: center;
	padding:40px;
}

.container{
	width: auto;
	margin: 0px auto;                    
	padding: 30px; 	                           
	border-radius: 4px;                        
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
	background-color: rgba(205,192,176,0.1);
	text-align: center;

}
#card-design{
	padding: 30px;                       
	border-radius: 10px;                        
	box-shadow: 0 10px 30px rgba(0,0,0,.1);  
	background-color: rgb(205,192,176); 
	margin: 40px auto;
	padding: 40px;
}
.font-size{
	font-size: 100px;
}